.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4em;
  gap: 2em;
  margin: 4em 0em 4em;
}
.spinner {
  display: flex;
  margin-top: 20em;
  justify-content: center;
}
.data-flag{
    display: flex;
    align-items: center;
    justify-content: center;
}
