.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 2rem 0rem 2rem;
  height: 6rem;
  background-color: rgb(68, 65, 64);
}
.cart-icon {
  font-size: 3rem;
  color:white;
}
.product-type {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  gap: 2rem;
  font-size: 1.4rem;
}
.product-link{
  color:white;
}
.product-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.home-button {
  color: white;
}
